<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ssafy.mvc.model.dao.BoardDao">

	<select id="getCategory" parameterType="int" resultType="ColBoard">
		select * from col_board
		where category=#{categoryNum}
		order by created_at desc
	</select>

	
	<insert id="insertBoard" parameterType="ColBoard" useGeneratedKeys="true" keyProperty="colboardId">
   		insert into col_board (user_id, category, title, content)
   		values (#{userId}, #{category}, #{title}, #{content, jdbcType=LONGVARCHAR})
	</insert>
	

	<select id="getBoard" parameterType="int" resultType="ColBoard">
		select * from col_board
		where colboard_id=#{colboardId}
	</select>


	<update id="update" parameterType="ColBoard">
		update col_board
		set title=#{title}, content=#{content}, category=#{category}
		where colboard_id=#{colboardId}
	</update>

	<delete id="delete" parameterType="int">
		delete from col_board
		where colboard_id=#{colboardId}
	</delete>
	
	<select id="getBoardByUser" parameterType="String" resultType="ColBoard">
		select * from col_board
		where user_id=#{userId}
	</select>
	
	<update id="upBoardCnt" parameterType="int">
		update col_board
		set view_cnt=view_cnt+1
		where colboard_id=#{colboard_id}
	</update>
	

	<select id="search" parameterType="SearchCondition" resultType="ColBoard">
		select * from col_board
		<if test="key != null">
		WHERE ${key} LIKE concat('%',#{word},'%')
		</if>	
		<!-- 정렬 조건 -->
		<if test="orderBy != null">
			ORDER BY ${orderBy} ${orderByDir}
		</if>	
	</select>
	
	<insert id="insertBoardFile" parameterType="BoardFile">
		insert into file(colboard_id,original_name,upload_name,file_size)
		values(#{colboardId},#{originalName},#{uploadName},#{fileSize});
	</insert>
	
	<select id="getRecentBoardList" resultType="ColBoard">
		SELECT * FROM col_board
		ORDER BY created_at DESC
		LIMIT 3;
	</select>


	<select id="getPopularBoardList" resultType="ColBoard">
		SELECT * FROM col_board
		ORDER BY view_cnt DESC
		LIMIT 3;
	</select>

	
	
	
	
	<select id="confirmClick" parameterType="BoardLike">
		select count(*) from board_like
		where user_id=#{userId} and colboard_id=#{colboardId}
	</select>



	<select id="getUserPopularBoardList" parameterType="String" resultType="ColBoard">
		SELECT * FROM col_board
		where user_id=#{userId}
		ORDER BY view_cnt DESC
		LIMIT 3;

	</select>

	<delete id="deleteClick" parameterType="BoardLike">
		delete from board_like
		where user_id=#{userId} and colboard_id=#{colboardId}
	</delete>

	<insert id="insertClick" parameterType="BoardLike">
		insert into board_like (user_id, colboard_id)
		values (#{userId}, #{colboardId})
	</insert>
	
	 <select id="getLike" parameterType="int" resultType="int">
	 	select count(*) from board_like
	 	where colboard_id=#{colboardId}
	 </select>
	 
	 
	 
	 

	
</mapper>
